<div class="container-fluid">
<mat-toolbar color="accent" style="position: fixed; height: 50px; width: 100%; top: 50px;">
    <span class="space-buttons"></span>
    <!-- <button *ngIf="islogged()" (click)="Logout()" mat-raised-button color="warm">logout</button> -->
  </mat-toolbar>
  
  <mat-toolbar color="accent" class="margin" style="position: fixed; height: 50px; width: 100%; top: 50px;">
    <button mat-raised-button color="accent"routerLink="/productsview">View Product</button>
    <button mat-raised-button color="accent" routerLink="/addNewProduct">Add New Product</button>
    <button mat-raised-button color="accent" routerLink="/showProductDetails">Show Product</button>
    <button mat-raised-button color="accent" routerLink="REGISTERATION">Registered Users</button>
  </mat-toolbar>
</div>






