/* .navigation{
    margin-top: 50px;
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x:hidden ;

}
.container{
    position: relative;
    width: 100%;
} */
space-buttons{
    margin-top: 100px;
}
.container-fluid{
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1;
  } 