<div class="card">
    <div style="border-radius: 200px; height:200px; width:150px;background: #F8FAF5; margin:0 auto">
    <img style="width:150px;size: 1000px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3J-reHpBk4aGJCf6EN1tW7XZu1Oe0Y1sVaQ&usqp=CAU"></div>
    <h2 style="padding-left: 50px;">Order has Places Successfully</h2>
    <strong style="margin-left: 32px;">ThanYou For Shopping with Popular Flower-Arts</strong>
    <h3 style="margin-left: 40px;margin-top: 20px;color: green;">Kindly Pay Amount
    <strong style="color: blue;">Rs/- {{grandtotal|number:'1.0-0'}}</strong>&nbsp;during Delivery</h3>
</div>
<app-footer>
  
</app-footer>

<!-- 
<div class="container mt-5">
    <div class="card p-5 text-center">
       <h2>Your Order is Placed Successfully. It will get Delivered to you within 4-5 business days</h2>
    </div>
</div>
<app-footer>
  
</app-footer> -->